#banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(12, 30, 100, 0.5)),
    url("../img/industry.jpg");
  background-size: cover;
}
#sevice-2{
width: 100%;
}
#sevice-1{
    width: 100%;
    }
